%li{"data-theme" => "c"}
  %a
    = image_tag(item.icon.url(:default), :class => "ui-li-thumb")
    %h3.ui-li-desc= item.name
    %p.ui-li-desc= item.description
  = link_to "View in iTnues", item.app_store_url, :class => "ui-li-link-alt.ui-btn.ui-btn-up-c"