= title "#{current_developer.name}'s dashboard"
= header do
  = link_to 'Add', new_app_path, "data-icon" => "plus", "class" => "ui-btn-right"
  
%h1 Developer Dashboard

=link_to "Sign_out", destroy_developer_session_path, :method => :delete

%ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
  %li{"data-role"=>"list-divider", :role=>"heading"} Statisticses
  %li=link_to "Most Active Top10 Apps", statisticses_path(:typee => "active_top10")


