= title "#{current_developer.name}'s dashboard"

%h1 Developer Dashboard



%ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
  %li{"data-role"=>"list-divider", :role=>"heading"} Statisticses
  %li=link_to "Most Active Top10 Apps", statisticses_path(:typee => "active_top10")


%ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
  %li{"data-role"=>"list-divider", :role=>"heading"} Operate
  %li=link_to "Sign_out", destroy_developer_session_path