<div class="charts-hd cf">
  <%= link_to "Set time control", parent_game_application_path(@game_application), :class=>"tc" %>
  <%= link_to 'Charts', game_parent_analytic_path(@game_application), :class=>"cs" %>
</div>