= content_for :right do
  .description
    %p
      Can you bend your body into impossible positions?
      %br
      Well Tic Toc can!!
    %p
      Manipulate his bendy body to fit through hundreds of different ‘WALLS OF DEATH’ while avoiding the perils and pitfalls of his subconscious mind!
    %p
      Featuring crazy 2d high resolution graphics, awesome tunes, awards, leaderboards and even unlockable outfits for our hero.

