.ft-list
  %h4 Parents
  %ul
    %li
      %a{:href => "#"} Games
    %li
      %a{:href => "#"} Forum
    %li
      %a{:href => "#"} Dashboard
    %li
      %a{:href => "#"} Support
.ft-list
  %h4 Developers
  %ul
    %li
      %a{:href => "#"} Signup
    %li
      %a{:href => "#"} Login
    %li
      %a{:href => "#"} Support
.ft-list
  %h4 Company
  %ul
    %li
      %a{:href => "#"} About us
    %li
      %a{:href => "#"} Pres
    %li
      %a{:href => "#"} Carrers
    %li
      %a{:href => "#"} Contact us
.ft-right.cf
  .share.cf
    %a{:href => "#"}
    %a.a2{:href => "#"}
    %a.a3{:href => "#"}
  .address
    %p phone:888-8888-8889
    %p Emaik:xxxxx@kittypad.com
    %p xxxxxxxxxxxxxxxxx.China.World