=link_to "Home", root_path, "data-ajax" => false
- if developer_signed_in?
  = link_to "Dashboard", developers_path, "data-icon" => "gear", "data-ajax" => false
- elsif owner_signed_in?
  = link_to "Dashboard", owners_path, "data-icon" => "gear", "data-ajax" => false
- else
  = link_to "Developer Sign In", new_developer_session_path