= title "#{owner_signed_in? ? current_owner.name : 'Player Dashboard'}"
- if owner_signed_in?
  %div{"data-role"=>"navbar"}
    %ul
      %li= link_to 'Profile', edit_owner_registration_path(current_owner), "data-icon" => "plus"
      %li= link_to 'Your Pads', owner_players_path(current_owner), "data-icon" => "arrow-r"


- if owner_signed_in?
  %ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
    %li{"data-role"=>"list-divider", :role=>"heading"} Operate
    %li=link_to "Sign_out", quit_path, "data-ajax" => false
