- content_for :title do
  Search Results

%div
  - unless @search_results.blank?
    - @search_results.each do |sr|
      - if sr.class.to_s == "Topic"
        - if sr.try(:forum)
          %p= link_to sr.title, forum_forum_topic_path(sr.forum, sr)
      - elsif sr.class.to_s == "Post"
        - if sr.try(:topic).try(:forum)
          %p= link_to sr.topic.title, forum_forum_topic_path(sr.topic.forum, sr.topic)
    = paginate @search_results, :outer_window => 3
  - else
    No Results.
    
