<% content_for :content do %>
<h2>App Center</h2>

<div>
    <div style="float: left; display: inline"> <%= render :partial => "forum/app_centers/products" %> </div>
    <div style="float: left; display: inline"> <%= render :partial => "forum/app_centers/recs" %> </div>
</div>
<% end %>