<script type="text/javascript">
    function click_app(app_store_url, click) {
        $.get(click, function(data) {
            window.location = app_store_url;
        });
        //show waiting ......
    }
</script>

<div class="ban-shadow"></div>
<div class="c-wrap cf">
  <div style="float: left; display: inline"> <%= render :partial => "forum/app_centers/apps" %> </div>
  <div style="float: left; display: inline"> <%= render :partial => "forum/app_centers/recs" %> </div>
</div>


