#account_navigation
  %ul
    - if developer_signed_in?
      %li= link_to t('my_info'), edit_developer_registration_path
      %li= link_to t('sign_out'), destroy_developer_session_path
    - else
      %li= link_to t('sign_in'), new_developer_session_path
      %li= link_to t('sign_up'), new_developer_registration_path
#global_navigation
