- if developer_signed_in?
  %ul.client_applications
    - current_game_applications.each do |game_application|
      %li.client_application= link_to game_application.name, dev_game_application_path(game_application)

  = link_to 'add new game', new_dev_game_application_path
