.thread
  .thread-ct
    =link_to "New Thread", new_forum_forum_topic_path(@forum)

.fontpage
  %span Page 1 of 46
  %a.cur{:href => "#"} 1
  %a{:href => "#"} 2
  %a{:href => "#"} 3
  %a{:href => "#"} 4
  %a{:href => "#"} >
  %span.lt
    %a{:href => "#"} Last>>