/* 
    Document   : common
    Created on : 2011-06-13, 15:07:30
    Author     : myth_lyz
   
*/
.top-nav{float:right;}
.top-nav a {float:left;display:block;width:76px;height:39px;background:url(../images/top-nav.png) 0 0 no-repeat;margin-left:8px;}
.top-nav a.t2{background-position:-84px 0}
.top-nav a.t3{background-position:-167px 0;height:48px;}
.main-nav ul{padding-top:5px;padding-bottom:8px;}
.main-nav li{float:left;margin-left:40px;font-size:16px;}
.main-nav li.sch{background:url(../images/ipt.png) 0 0 no-repeat;height:30px;width:242px;}
.main-nav li.sch input.i1{width:191px;border:0;background:none;padding-left:3px;}
.main-nav li.sch input.i2{width:42px;border:0;background:none;cursor:pointer;}

.content2{width:896px;margin:0 auto;padding-bottom:100px;}
.banner{padding-top:10px;}
.banner .img{padding:2px;border:1px solid #d2d3d3;font-size:0;border-radius:4px;}
.ban-shadow{background:url(../images/sdw.gif) right top no-repeat;height:15px; }
.c1{float:left;width:448px;position:relative;}
.c1 h3{background:url(../images/h.gif) 0 0 no-repeat;width:498px;height:42px;position:absolute;top:12px;color:white;padding-top:10px;text-align:center}
.c1 h3 span{display:inline-block;background:url(../images/icon2.png) 0 0 no-repeat;height:22px;padding-left:30px;}
.c1 h3 span{_display:inline}
.c1 h3 span.s2{background:url(../images/icon3.png) 0 0 no-repeat;}
.c-ct{border:1px solid #ccc;width:428px;margin-left:5px;background:#f5f5f5}
.c-ct p{padding:8px 15px 0px 15px;}
.c-ct p.f{padding:70px 15px 15px 15px}
.c-ct p.cen{text-align:center}
