/* line 6, ../../app/stylesheets/layout.scss */
body.bp a {
  text-decoration: none;
}
/* line 10, ../../app/stylesheets/layout.scss */
body.bp .button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 1px #a4a4a4;
  -webkit-box-shadow: 1px 1px 1px #a4a4a4;
  -o-box-shadow: 1px 1px 1px #a4a4a4;
  box-shadow: 1px 1px 1px #a4a4a4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cdcdcd), color-stop(100%, #a0a0a0));
  background-image: -webkit-linear-gradient(#cdcdcd, #a0a0a0);
  background-image: -moz-linear-gradient(#cdcdcd, #a0a0a0);
  background-image: -o-linear-gradient(#cdcdcd, #a0a0a0);
  background-image: -ms-linear-gradient(#cdcdcd, #a0a0a0);
  background-image: linear-gradient(#cdcdcd, #a0a0a0);
  display: inline-block;
  border: 1px solid #9a9a9a;
  height: 26px;
  padding: 0px 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #E4E4E4;
  outline: none;
  cursor: pointer;
}
/* line 27, ../../app/stylesheets/layout.scss */
body.bp .button:hover {
  background-image: line-gradient(#a0a0a0, #cdcdcd);
}
/* line 31, ../../app/stylesheets/layout.scss */
body.bp a.button {
  color: #4c4c4c;
}

/* line 35, ../../app/stylesheets/layout.scss */
body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
  border-top: 1px solid #000;
  background: #3a3a3a url(/images/bg.png);
  font-size: 12px;
  line-height: 150%;
}

/* line 42, ../../app/stylesheets/layout.scss */
#account_navigation {
  background: url(/images/account_nav_bg.gif);
  padding: 10px 20px;
  color: #C8C8C8;
  height: 26px;
  line-height: 26px;
}
/* line 48, ../../app/stylesheets/layout.scss */
#account_navigation li {
  display: inline-block;
  padding: 0 10px 0 0;
}
/* line 52, ../../app/stylesheets/layout.scss */
#account_navigation a {
  color: #F2F2F2;
  font-weight: bold;
}

/* line 57, ../../app/stylesheets/layout.scss */
#global_navigation {
  background: #232323;
  overflow: hidden;
  border-bottom: 7px solid #0C7A3E;
}

/* line 62, ../../app/stylesheets/layout.scss */
#main {
  background: #fff;
  overflow: hidden;
}

/* line 66, ../../app/stylesheets/layout.scss */
#flash .message {
  margin-bottom: 0;
}

/* line 69, ../../app/stylesheets/layout.scss */
#sidebar {
  background: url(/images/dropshadow_bottom.png) bottom right repeat-y;
  padding: 30px 0 25px 0;
}
/* line 72, ../../app/stylesheets/layout.scss */
#sidebar h3 {
  font-weight: bold;
  margin: 0px 0px 15px 15px;
  font-size: 16px;
  color: #555;
}
/* line 78, ../../app/stylesheets/layout.scss */
#sidebar ul {
  list-style: none;
}
/* line 81, ../../app/stylesheets/layout.scss */
#sidebar li {
  border-top: 1px dotted #C8C8C8;
  vertical-align: middle;
  color: #757575;
}
/* line 85, ../../app/stylesheets/layout.scss */
#sidebar li.title {
  line-height: 30px;
  font-weight: bold;
  padding: 10px 0;
}
/* line 90, ../../app/stylesheets/layout.scss */
#sidebar li a {
  padding: 7px 10px 7px 25px;
  font-size: 12px;
  display: inline-block;
  color: #757575;
  line-height: 20px;
}
/* line 96, ../../app/stylesheets/layout.scss */
#sidebar li a.analytics {
  float: right;
}
/* line 101, ../../app/stylesheets/layout.scss */
#sidebar a.button {
  width: 138px;
  margin: 0 20px 40px 20px;
}
/* line 105, ../../app/stylesheets/layout.scss */
#sidebar a.child {
  color: #0C7A3E;
}

/* line 110, ../../app/stylesheets/layout.scss */
#content > div {
  padding: 30px 35px 100px 25px;
}
/* line 113, ../../app/stylesheets/layout.scss */
#content form {
  background-color: #F7F7F7;
  border: 1px solid #E1E1E1;
}
/* line 117, ../../app/stylesheets/layout.scss */
#content div.input, #content p.input {
  position: relative;
  padding: 15px 0px;
  color: #555;
  border-top: 1px dotted #BCBCBC;
}
/* line 122, ../../app/stylesheets/layout.scss */
#content div.input label, #content p.input label {
  font-weight: bold;
  display: inline-block;
  width: 35%;
  height: 100%;
  margin-right: 2%;
  text-align: right;
  vertical-align: top;
}
/* line 131, ../../app/stylesheets/layout.scss */
#content div.input input, #content div.input textarea, #content p.input input, #content p.input textarea {
  display: inline-block;
  width: 62%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
}
/* line 138, ../../app/stylesheets/layout.scss */
#content div.input .buttons, #content p.input .buttons {
  text-align: center;
}
/* line 141, ../../app/stylesheets/layout.scss */
#content div.input input[type=text], #content div.input input[type=email], #content div.input input[type=password], #content div.input input[type=url], #content p.input input[type=text], #content p.input input[type=email], #content p.input input[type=password], #content p.input input[type=url] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f7f7f7, #ffffff);
  background-image: -moz-linear-gradient(#f7f7f7, #ffffff);
  background-image: -o-linear-gradient(#f7f7f7, #ffffff);
  background-image: -ms-linear-gradient(#f7f7f7, #ffffff);
  background-image: linear-gradient(#f7f7f7, #ffffff);
  display: inline-block;
  border: 1px solid #AAA;
  height: 24px;
  width: 205px;
  padding: 0px 5px;
  font-size: 12px;
  color: #505050;
}
/* line 151, ../../app/stylesheets/layout.scss */
#content div.input input[type=checkbox], #content p.input input[type=checkbox] {
  display: inline-block;
  width: 20px;
  height: 20px;
}
/* line 156, ../../app/stylesheets/layout.scss */
#content div.input input[disabled=disabled], #content p.input input[disabled=disabled] {
  border: none;
}
/* line 159, ../../app/stylesheets/layout.scss */
#content div.input textarea, #content p.input textarea {
  display: inline-block;
  border: 1px solid #AAA;
  height: 82px;
  width: 335px;
  padding: 5px 5px;
  font-size: 12px;
  color: #505050;
}
/* line 169, ../../app/stylesheets/layout.scss */
#content .buttons {
  text-align: center;
  padding: 15px 0px;
  color: #555;
  border-top: 1px dotted #BCBCBC;
}
