@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/************Mixin Start*************/
@mixin linear-gradient-lr($startColor, $endColor) {
  background-image: -ms-linear-gradient(left, $startColor 0, $endColor 100%);   /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColor, endColorstr=$endColor, GradientType=1);  /* IE6-9 */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $startColor), color-stop(100%, $endColor));  /* Chrome, Safari */
  background-image: -moz-linear-gradient(left, $startColor 0, $endColor 100%);   /* FF3.6+ */
  background-image: -o-linear-gradient(left, $startColor 0, $endColor 100%);  /* Opera 11.10+ */
  background-image: linear-gradient(left, $startColor 0, $endColor 100%);   /* W3C */
}
$linkHoverColor: #0099FF;
/************Mixin Start*************/

/************Global Start*************/
body.bp {
  a {
    text-decoration: none;
  }
  .button {
    @include border-radius(5px);
    @include box-shadow(#A4A4A4, 1px, 1px, 1px);
    @include background-image(linear-gradient(#E17F06, #FFB008));
    /*border: 1px solid #9A9A9A;*/
    display: inline-block;
    cursor: pointer;
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    outline: none;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #E4E4E4;
    &:hover {
      @include background-image(linear-gradient(#A0A0A0, #CDCDCD));
    }
  }
  a.button {
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(153, 102, 0, .35);
  }
  abbr {
    border: none;
  }
  input.button {
    @include border-radius(10px);
    border: none;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(153, 102, 0, .35);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
body {
  background-color: #3A3A3A;
  border-top: 1px solid #000;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 150%;
}
/************Global Start*************/


/************Header Start*************/
.header {
  position: relative;
}
.logo {
  background: url(/images/logo.png) no-repeat left top;
  height: 72px;
  margin: 25px 0 20px 0;
  text-indent: -9999px;
  width: 310px;
}
.global_navigation {
  bottom: 0;
  font-size: 14px;
  position: absolute;
  right: 0;
  .global_action {
    margin: 0 0 10px 0;
    a {
      color: #CCC;
      &:visited {
        color: #CCC;
      }
      &:hover {
        color: $linkHoverColor;
      }
    }
    li {
      float: left;
      padding: 2px 7px;
      &.selected {
        @include border-radius(5px);
        background-color: #262626;
      }
    }
  }
  .left_border {
    border-left: 1px solid #5B5B5B;
  }
  .right_border {
    border-right: 1px solid #454545;
  }
  .user_action {
    a {
      color: #FFF;
      &:visited {
        color: #FFF;
      }
      &:hover {
        color: $linkHoverColor;
      }
    }
    li {
      float: right;
      padding: 10px 7px 0 7px;
    }
    .welcome {
      background: url(/images/user_icon.png) no-repeat left top;
      color: #FFF;
      padding-left: 30px;
    }
  }
}
/*#account_navigation {*/
  /*background: url(/images/account_nav_bg.gif);*/
  /*color: #C8C8C8;*/
  /*height: 26px;*/
  /*line-height: 26px;*/
  /*padding: 10px 20px;*/
  /*a {*/
    /*color: #F2F2F2;*/
    /*font-weight: bold;*/
  /*}*/
  /*li {*/
    /*display: inline-block;*/
    /*padding: 0 10px 0 0;*/
  /*}*/
/*}*/
/*#global_navigation {*/
  /*background: #232323;*/
  /*border-bottom: 7px solid #0C7A3E;*/
  /*overflow: hidden;*/
/*}*/
/************Header End*************/


/************Main Container Start*************/
.main {
  @include border-radius(10px);
  background: #FFF;
  border: 1px solid #161616;
  overflow: hidden;
}
/************Main Container End*************/


/************Global Message Start*************/
.flash {
  .message {
    margin-bottom: 0;
  }
}
/************Global Message End*************/


/************Sidebar Start*************/
.sidebar {
  background: url(/images/dropshadow_bottom.png) bottom right repeat-y;
  padding: 30px 0 25px 0;
  .client_application {
    background: url(/images/game_icon.png) no-repeat left top;
  }
  .kid {
    background: url(/images/kid_icon.png) no-repeat left top;
    .child_name {
      background: url(/images/collapsed.png) no-repeat right center;
      display: inline-block;
    }
    &.current_kid {
      .child_name {
        background: url(/images/expanded.png) no-repeat right center;
      }
    }
  }
  .kid_apps {
    .current_app {
      @include linear-gradient-lr(#FDFDFD, #CFCFCF);
    }
  }
  .lv1 {
    padding-bottom: 10px;
    .lv1_title {
      color: #333;
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 8px 0;
      padding: 0 10px 0 20px;
      a {
        color: #333;
        &:visited {
          color: #333;
        }
        &:hover {
          color: $linkHoverColor;
        }
      }
    }
  }
  .lv2 {
    padding-left: 20px;
    .lv2_title {
      color: #4F4F4F;
      font-size: 15px;
      margin: 0 0 5px 0;
    }
  }
  .lv3 {
    padding: 0 0 5px 20px;
    a {
      color: #757575;
      display: inline-block;
      line-height: 25px;
      &:visited {
        color: #757575;
      }
      &:hover {
        color: $linkHoverColor;
      }
      &.analytics {
        float: right;
        margin-right: 15px;
      }
    }
  }
  .sidebar_section {
    padding: 0 0 30px 20px;
    .section_title {
      color: #000;
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }
  .trends {
    margin-top: 10px;
  }
  /*a.button {*/
    /*margin: 0 20px 40px 20px;*/
    /*width: 138px;*/
  /*}*/
  /*a.child {*/
    /*color: #0C7A3E;*/
  /*}*/
  /*li {*/
    /*border-top: 1px dotted #C8C8C8;*/
    /*color: #757575;*/
    /*vertical-align: middle;*/
    /*&.title {*/
      /*font-weight: bold;*/
      /*line-height: 30px;*/
      /*padding: 10px 0;*/
    /*}*/
    /*a {*/
      /*color: #757575;*/
      /*display: inline-block;*/
      /*font-size: 12px;*/
      /*line-height: 20px;*/
      /*padding: 7px 10px 7px 25px;*/
      /*&.analytics {*/
        /*float: right;*/
      /*}*/
    /*}*/
  /*}*/
}
/************Sidebar End*************/


/************Content Start*************/
.content {
  & > div {
    padding: 30px 35px 100px 25px;
  }
  form {
    background-color: #F7F7F7;
    border: 1px solid #E1E1E1;
    margin: 0 10px 0 20px;
    padding: 40px 20px;
  }
  h3 {
    color: #666;
    font-size: 14px;
  }
  div.input, p.input {
    /*border-top: 1px dotted #BCBCBC;*/
    color: #555;
    padding: 15px 0;
    position: relative;
    label {
      color: #666;
      display: inline-block;
      height: 100%;
      font-size: 14px;
      margin-right: 10px;
      text-align: right;
      vertical-align: top;
      width: 120px;
    }
    input, textarea {
      display: inline-block;
      height: 100%;
      text-align: left;
      vertical-align: middle;
      width: 62%;
    }
    .buttons {
      text-align: center;
    }
    input[type=text], input[type=email], input[type=password], input[type=url] {
      @include background-image(linear-gradient(#F7F7F7, #FFF));
      border: 1px solid #AAA;
      color: #505050;
      display: inline-block;
      font-size: 12px;
      height: 24px;
      padding: 0 5px;
      width: 205px;
    }
    input[type=checkbox] {
      display: inline-block;
      height: 20px;
      width: 20px;
    }
    input[disabled=disabled] {
      border: none;
    }
    textarea {
      display: inline-block;
      border: 1px solid #AAA;
      color: #505050;
      font-size: 12px;
      height: 82px;
      width: 335px;
      padding: 5px 5px;
    }
  }
  .buttons {
    /*border-top: 1px dotted #BCBCBC;*/
    color: #555;
    text-align: left;
    padding: 30px 0 10px 130px;
  }
  .description {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    p {
      margin-bottom: 20px;
    }
  }
}
/************Content End*************/


/************Tab Control Start*************/
.tab_control {
  .tab_header_container {
    border-bottom: 1px solid #C5C5C5;
    margin-bottom: 10px;
    .tab_header {
      float: left;
      font-size: 14px;
      margin-right: 10px;
      &.current {
        background: #666;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-bordr-radius: 5px 5px 0 0;
        border-raidus: 5px 5px 0 0;
        a {
          color: #FFF;
        }
      }
      a {
        color: #999;
        display: block;
        padding: 8px;
      }
    }
  }
  .tab_content_container {
    .tab_content {
        display: none;
      &.current {
        display: block;
      }
    }
  }
}
/************Tab Control End*************/