@import "compass/css3/border-radius";

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2A3843;
  font: {
    family: "Droid Sans", Helvetica, sans-serif;
    size: 12px;
  }
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0
}

.exchange_item {
  @include border-radius(5px);
  background-color: #1D2930;
  color: #FFF;
  height: 60px;
  margin: 5px;
  padding: 5px 5px 5px 28px;
  position: relative;
  .category {
    @include border-radius(5px 5px 0 0);
    background-color: #FF8701;
    left: -22px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 70px;
    -webkit-transform: rotate(-90deg);
  };
  .app_details {
    overflow: hidden;
    .app_icon {
      float: left;
      height: 60px;
      width: 60px;
    };
    .app_install {
      float: right;
      height: 60px;
      width: 40px;
      .install_button {
        @include border-radius(3px);
        background-color: #588300;
        margin-top: -12px;
        padding: 5px;
        position: absolute;
        top: 50%;
        text-align: center;
      }
    };
    .app_info {
      margin: 0 45px 0 65px;
      .app_name {
        font-size: 16px;
        margin: 0;
      };
      .app_description {
        line-height: 14px;
        margin: 0;
      };
    };
  }
}