= title "KittyPad - About Us"

%h3 Kitty Pad turns learning time into fun time and makes it easy for parents to manage both

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Education platform
  
  %p Monitor Ipad use set time limits on applications, maintaining the Ipad’s educational environment
  
  %p Protect your family's health with our software that prevents repetitive strain injuries
  
  %p Create your own space on the Parent Dashboard Track your children's progress and watch them learn
  
  %p Watch trends across the globe and see how your children perform compared to their peers
  
%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Educational games
  
  %p Practice essential skills learn and review Math, English, Chinese, and more!
  
  %p Discover new worlds each level in the game unlocks another new exciting challenge
  
  %p Grow alongside your game both child and game progress and advance together
  
%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Pad Dashboad
  
  %p This is the space where parents can monitor how their children are using the Ipad and enhance the ilearning environment
  
%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Developer Dashboard
  
  %p A tool for developers to track the use of their applications, engage in cross promotions and use our SDK

