= title "KittyPad - Join Us"

%h3 版权方合作
%p 我们可以免费帮你把您的版权内容制作成为基于iPad或iPhone平台的应用并将您的产品推入国际市场，双方分享销售赢利。如果您可以协助我们推广SDK, 我们甚至可以不参与赢利分成。

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"b"}
  %h3 签订合同
  %p 确定合作项目， 双方签订合同

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"b"}
  %h3 开始合作
  %p 版权方提供图文影音等版权内容，我方负责策划、设计和开发。

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 产品发布
  %p 我方协助版权方创建苹果账号， 产品发布至app商城。

