= title "KittyPad - Join Us"

%h3 Publishers-Collaborate with Us!
%p We can turn your publications into beautiful applications for the iPad /iPhone and Android platforms, and we can cooperatively promote your products internationally, splitting the profits. Or, if you participate in KittyPad’s group purchase subscription service, we won’t require profit sharing; instead, all proceeds make remain in your hands. No worry about jail break, we will provide layers of security for your hard work.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"b"}
  %h3 Sign a contract
  %p In order to confirm our relationship, both publisher and developer will sign a contract.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"b"}
  %h3 Start collaborating
  %p Using images and text provided by the publishers we will develop an application.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Product release
  %p We will assist you, the publisher in establishing an Apple Developer Account and selling you books in the App Store.

%h3 Success!