= title "KittyPad - FAQ"

%h3 User FAQ
%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What it Kittypad.com?
  %p Kittypad.com is the homepage for our education platform, which consists of two main portals: one for players and one for developers. The user portal consists of the Pad Dashboard that is used to make the iPad an unrivaled learning tool for parents and kids and includes health protection software. The developers' portal includes other tools that developers use to make better applications for you!

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What is the Pad Dashboard?
  %p The Pad Dashboard is a device that Parents can use to manage the Ipad learning environment and protects user's health from over-playing games. It includes a space for users to track their children’s progress in educational applications and set time interval breaks to manage screen time and includes Anti-RSI (Repeated Strain Injury) software.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 How much does it cost?
  %p The use of our website is entirely free. The only thing you have to pay for is applications: some of which are free, some of which bear a small charge, usually under $4, depending on the developer. All of Kitty Pad’s “Lite” applications are free.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Do I need an IPad?
  %p Though our technology was designed with the IPad in mind, you do not necessarily need one. Iphones and Itouches are all welcome. Also, you will need a Wifi connection or 3G.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What do I need to sign up?
  %p As of right now, nothing! Just simply use a Kitty Pad supported application and you are good to go! The application will guide you straight into our mobile site.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Why should I use this service?
  %p Kitty Pad’s main priority is health protection and maintaining the advantages of owning and using idevices-whether for education or play. This service is designed to help manage use and screen time, preventing injury and eye stress.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 How does KittyPad protect my health?
  %p KittyPad includes Anti-RSI (Repetitive Strain Injury) software. It’s not too difficult to become lost in and Ipad application, so KittyPad sends reminders about stretching and taking breaks. It is very important to manage screen time, otherwise serious pain and injury can result.

%h3 Developer FAQ

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What is the Developer Dashboard?
  %p The Developer Dashboard is the counterpart to the Pad Dashboard. Upon signing up for our SDK, developers use the DD to manage and track the use of their applications, but most importantly, they will be able to take part in our Exchange Download program.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What does exchange download mean?
  %p Within and across other apps you will be able to engage in exchange downloads (also known as free promotion). You will be able to decide if you want to promote strictly within the applications in your own portfolio, or across other apps in the Kitty Pad family. Links to your apps with be integrated directly into the dashboard, so users can easily go check it out and download.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Is there a fee associated with using your SDK?
  %p No. Our SDK and everything that comes with it has been and always will be free of charge.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Why should I use Kitty Pad’s SDK?
  %p Kitty Pad is making an effort to bring the developer and consumer of kids applications closer together. Developers can directly witness the use of their application, view customer feedback, and even respond to customer questions. Kitty Pad posts all applications that use it SDK on its website, you as a developer you gain greater awareness. Also with Kitty Pad’s exchange download program, you will receive free promotion!

