= title "KittyPad - FAQ"

%h3 Pad FAQ
%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What it Kittypad.com?
  %p Kittypad.com is the homepage for our education platform, which consists of two main portals: one for parents and one for developers. The parent portal consists of the Pad Dashboard that is used to make the iPad an unrivaled learning tool for parents and kids. The developers' portal includes other tools that developers use to make better applications for you!

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What is the Pad Dashboard?
  %p The Pad Dashboard is a device that Parents can use to manage the Ipad learning environment. It includes a space for parents to track their children’s progress in educational applications; set time interval breaks to manage screen time and includes Anti-RSI (Repeated Strain Injury) software.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 How much does it cost?
  %p The use of our website is entirely free. The only thing you have to pay for is applications: some of which are free, some of which bear a small charge, usually under $4, depending on the developer. All of Kitty Pad’s “Lite” applications are free.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Do I need an IPad?
  %p Though our technology was designed with the IPad in mind, you do not necessarily need one. Iphones and Itouches are all welcome. Also, you will need a Wifi connection or 3G.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What do I need to sign up?
  %p As of right now, nothing! Just simply use a Kitty Pad supported application and you are good to go! The application will guide you straight into our mobile site.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Why should I use this service?
  %p Kitty Pad’s services allow parents to be more in control of the “loose cannon”-so to speak-that can be the IPad. Parents can now fully monitor their child’s educational development and growth. Eventually, as the Kitty Pad service grows Kitty Pad will provide recommendations for apps tailored to your child. This will help you make sense of the mess of applications available in the App Store, giving you options most suitable for your child.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 How does KittyPad protect my health?
  %p KittyPad includes Anti-RSI (Repetitive Strain Injury) software. It’s not too difficult to become lost in and Ipad application, so KittyPad sends reminders about stretching and taking breaks. It is very important to manage screen time, otherwise serious pain and injury can result.

%h3 Developer FAQ

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What is the Developer Dashboard?
  %p The Developer Dashboard is the counterpart to the Pad Dashboard. Upon signing up for our SDK, developers use the DD to manage and track the use of their applications, but most importantly, they will be able to take part in our Exchange Download program.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 What does exchange download mean?
  %p Within and across other apps you will be able to engage in exchange downloads (also known as free promotion). You will be able to decide if you want to promote strictly within the applications in your own portfolio, or across other apps in the Kitty Pad family. Links to your apps with be integrated directly into the dashboard, so users can easily go check it out and download.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Is there a fee associated with using your SDK?
  %p No. Our SDK and everything that comes with it has been and always will be free of charge.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Why should I use Kitty Pad’s SDK?
  %p Kitty Pad is making an effort to bring the developer and consumer of kids applications closer together. Developers can directly witness the use of their application, view customer feedback, and even respond to customer questions. Kitty Pad posts all applications that use it SDK on its website, you as a developer you gain greater awareness. Also with Kitty Pad’s exchange download program, you will receive free promotion!

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 About the Pad Dashboard
  %p The Pad Dashboard is a tool that parents can utilize to maximize potential educational value of the IPad. The trouble with the IPad as it stands right now is that with the slide of a finger it transforms from educator to nothing but another game console. With the Pad Dashboard gone are the days where kids can say, “Don’t worry, I’m not playing games I’m practicing math!” while actually doing something else with unhappy birds or slicing fruit to bits.

  %p In the Parent Dashboard space parents can set times for breaks to help kids manage screen time.

  %p Parents set times for short breaks, every 10 minutes or so, to ask kids to rest their eyes. After a duration of play, kids will be told to take a longer break, to go outside and breathe some fresh air. This feature also includes our Anti-Repetitive Stress Injury software, with prevents pain and injury due to overuse of electronics.

  %p The other major component of the Pad Dashboard is the “Trends” feature. Here, parents can eventually see how their child compares with other children in his or her age group. Relevant statistics regarding grades and performance and time spent on Ipad applications will be prepared for parents to examine. Parents can also view each child's history and carefully watch how children progress and make improvements over time.

  %p Finally, KittyPad is making an effort to make sense out of the mess that is the App Store. We will provide recommendations for free and paid apps tailored to your child’s needs.

