= title "KittyPad - Home"

%h3 KittyPad only has one goal: 
%p To do everything we can to make the best possible applications for kids And to create the perfect marriage between learning and fun!

%h3 We aim to make games that nourish kids: 
%p Helping them develop and grow,
%p Stimulating their brains with new knowledge

%h3 We want to unleash the unlimited possibilities that educational applications hold.

%p There is no question about it; this is quite an enormous project.
%p Together, we can work to build something great for the world’s kids!
