<% content_for :left do %>
    <%= render :partial => "parent/game_applications/menu" %>
<% end %>

<% content_for :right do %>
    <h2><h2>Top 5 Time Game application of your children</h2>

      <div id="container_game_time" class="chart-container"></div>
      <% content_for :javascript do %>
          <%= @game_time_chart %>
      <% end %>
      <script type="text/javascript">
          $(document).ready(function() {
              <%= yield :javascript %>
          });
      </script>
<% end %>