<h2>Analytics on <%=@game_app.name%></h2>
 <div id="container_game_time" class="chart-container"></div> 
 <% content_for :javascript do %>  
 	<%=@game_time_chart%> 
 <%end%>

<script type="text/javascript">
    $(document).ready(function() {
        <%= yield :javascript %>
    });
</script>


    