<div class="ft-list">
    <h4>Parents</h4>
    <ul>
      <li><a href="#">Games</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
  <div class="ft-list">
     <h4>Developers</h4>
    <ul>
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  
  </div>
  <div class="ft-list">
    <h4>Company</h4>
    <ul>
      <li><a href="#">About us</a></li>
      <li><a href="#">Pres</a></li>
      <li><a href="#">Carrers</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  
  </div>
  <div class="ft-right cf">
     <div class="share cf">
       <a href="#"></a>
       <a href="#" class="a2"></a>
       <a href="#" class="a3"></a>
     </div>
     
     <div class="address">
       <p>phone:888-8888-8889</p>
       <p>Emaik:xxxxx@kittypad.com</p>
       <p>xxxxxxxxxxxxxxxxx.China.World</p>
     </div>
     
  </div>