<ul>
	<li class="hmenu">
	 	<%= link_to "Home", "#" %>
	</li>
	
	<li class="hmenu">
	 	<%= link_to "Games", "#" %>
	</li>
	
	<li class="hmenu">
	 	<%= link_to "Developers", "#" %>
	</li>
	
	<li class="hmenu">
	 	<%= link_to "Others", "#" %>
	</li>
	
</ul>