<form>
  <table>
  <tr>
  <td class="key"><input type="text" /></td>
  <td class="select">
    <span id="platform_select">
       <span id="search_option_selected" class="menu_selected">
             Threads
       </span>
      <span id="carrot" style="display:none;">
            User
      </span>
   </span>
  </td>
  <td class="btn"><input type="submit" value="submit"></td></tr>
  </table>
  </form>