<table>
 <tr>
   <td><img src="images/l1.gif"/></td>
   <td>Welcome myth<span class="p5">|</span><a href="#">Account</a></td>
   <td><a href="#" title="develop dashboard" class="bac-btn">Develop dashboard</a></td>
 </tr>
</table>