<h3>Sign in</h3>
<table>
 <tr>
   <td><img src="images/l1.gif"/></td>
   <td><input type="text" class="lg"/></td>
   <td><img src="images/l2.gif"/></td>
   <td><input type="password" class="lg"/></td>
   <td><input type="submit" value="login" class="st"/></td>
 </tr>
 <tr>
   <td></td>
   <td><a href="#">sign up</a></td>
   <td></td>
   <td><a href="#">forget your password</a></td>
   <td></td>
 </tr>

</table>