- content_for(:left) do
  = render "parent/game_applications/menu"

- content_for(:right) do
  %h3 Most Popular Education Applications

  %ul
    - @most_downloads.each do |most_download|
      %li= link_to "#{most_download.client_application.name} (#{most_download.amount})", '#'

