<% content_for :content do %>
<div><a href="/forum/black_lists/new">Add black List</a></div>
<div class="charts">
  <div class="charts-bd">
    <div class="charts-bd-top"></div>
    <div class="charts-bd-mid">
      <form>
        <table>
          <thead>
          <td class="lab">user</td>
          <td class="lab">date</td>
          <td class="lab">delete</td>
          </thead>
          <% if @blacklists %>
              <% for user in @blacklists %>
              <tr>
                <td class="lab"><%=user.black.name%></td>
                <td class="lab"><%=user.created_at.to_s(:db) %></td>
                <td class="lab">
                  <%= link_to "Destroy", forum_black_list_path(user), :remote => true, :method => :delete, :confirm => "Are you sure?" %>
                </td>
              </tr>
              <tr>
                <td class="line" colspan="2"></td>
              </tr>
              <% end%>
          <% end%>
        </table>
      </form>
    </div>

    <div class="charts-bd-btm"></div>
  </div>

</div>

<div>
  <% if @blacklists %>
      <%= paginate @blacklists %>
  <% end %>
</div>

<% end %>