%div{"data-role" =>"fieldcontain"}
  = f.input :name
%div{"data-role" =>"fieldcontain"}
  = f.input :description, :as => :text
%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

%div{"data-role" =>"fieldcontain"}

