= title "Edit App"

= simple_form_for @app, :as => :app, :url => developer_app_path(@developer, @app), :html => {:multipart => true, "data-ajax" => false} do |f|
  = render :partial => "form", :locals => {:f => f}
  %div{"data-role" =>"fieldcontain"}
    = f.submit "Update"