= title "Add App"

= simple_form_for @app, :as => :app, :url => developer_apps_path(@developer), :html => {:multipart => true} do |f|
  = render :partial => "form", :locals => {:f => f}
  %div{"data-role" =>"fieldcontain"}
    = f.submit "Create"