%p Name
%p= @education_application.name

%p Tagss
%p= @education_application.tag_list

%p Description
%p= @education_application.description

= link_to 'Edit', edit_dev_education_application_path(@education_application)
