%h3 KittyPad SDK 1.0.0

%h4 Features:

%ul
  %li user system
  %li scoreboard system
  %li monitoring system

%p Download KittyPad SDK 1.0.0 Read Me(read me is a link here)

%p please refer to https://api.openfeint.com/dd/download to get a deeper understanding.

