%ul
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  %li.exchange_item
    .category
      Game
    .app_details
      .app_icon
        %img{ 'src' => 'http://placekitten.com/g/60/60', 'alt' => ''}
      .app_install
        .install_button
          %span.price
            $0.99
      .app_info
        %h2.app_name
          Ninja Math
        %p.app_description
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.