- content_for(:left) do
  = render "parent/game_applications/menu"

- content_for(:right) do

  %h3 Average Grades for All Children

  %ul
    - @age_grades.each do |age_grade|
      %li
        %span.age= age_grade.age
        %span.grade= age_grade.grade.name
