<div class="content content2">
	<div class="banner">
		<div class="img"><img src="images/bner.jpg" width="890" height="291"/></div>
	</div>
	<div class="ban-shadow"></div>

	<div class="c-wrap cf">
		<div class="c1">
			<h3><span>Education Platform</span></h3>
			<div class="c-ct">
				<p class="f">Math Ninja is the perfect complement to our word game, Kitty Words. It is a fun and interesting way to learn math skills, from basic concepts of addition, subtraction, multiplication and division, to more advanced and complicated problem solving such as mixed operator usage. Even for children who have already learned these skills, Math Ninja is a wonderful way to reinforce this knowledge.</p>
				<p class="cen"><img src="images/i.jpg"/></p>
			</div>
		</div>
		<div class="c1">
			<h3><span class="s2">Education Games</span></h3>
			<div class="c-ct">
				<p class="f">Math Ninja is the perfect complement to our word game, Kitty Words. It is a fun and interesting way to learn math skills, from basic concepts of addition, subtraction, multiplication and division, to more advanced and complicated problem solving such as mixed operator usage. Even for children who have already learned these skills, Math Ninja is a wonderful way to reinforce this knowledge.</p>
				<p class="cen"><img src="images/i2.jpg"/></p>
			</div>
		</div>
	</div>
</div>