- content_for :title do
  Home - 

.content.content2.home
  .banner
    %div
      %img{:src => "images/b.gif", :width => "890"}/
    .img{:style => "border:0"}
      %img{:height => "291", :src => "images/b3.gif", :width => "890"}/
  .ban-shadow
  .c-wrap.cf
    .item
      %h3 Kitty Word HD
      %dl.cf
        %dt
          %img{:src => "images/item.gif"}/
        %dd
          %p I have a dream,I have a dream,I have a dream,I have a dream
          %p
            %a{:href => "#"}
              %img{:src => "images/gg1.gif"}/
    .item
      %h3 Kitty Word HD
      %dl.cf
        %dt
          %img{:src => "images/item.gif"}/
        %dd
          %p I have a dream,I have a dream,I have a dream,I have a dream
          %p
            %a{:href => "#"}
              %img{:src => "images/gg1.gif"}/
    .item
      %h3 Kitty Word HD
      %dl.cf
        %dt
          %img{:src => "images/item.gif"}/
        %dd
          %p I have a dream,I have a dream,I have a dream,I have a dream
          %p
            %a{:href => "#"}
              %img{:src => "images/gg1.gif"}/
    .item
      %h3 Kitty Word HD
      %dl.cf
        %dt
          %img{:src => "images/item.gif"}/
        %dd
          %p I have a dream,I have a dream,I have a dream,I have a dream
          %p
            %a{:href => "#"}
              %img{:src => "images/gg1.gif"}/