<div class="wrap-login">
    
     
      <div class="login-ct">
         <h3 class="reg">Sign up</h3>
         <div class="login-box">
          
           <p></p>
           <table>
             <tr>
                <td align="right">I'm a</td>
                <td class="p8">
                <input type="radio"  name="type"/>parent
                <input type="radio"  name="type" />devloper
                </td>
             </tr>
             <tr>
                <td align="right">Email</td>
                <td class="p8"><input type="text" class="ip"/></td>
             </tr>
             <tr>
                <td align="right">Password</td>
                <td  class="p8"><input type="password" class="ip"/></td>
             </tr>	
             <tr>
                <td align="right">Conform<br/>Password</td>
                <td  class="p8"><input type="password" class="ip"/></td>
             </tr>
             <tr>
                <td align="right">Company<br/>Name</td>
                <td  class="p8"><input type="text" class="ip"/></td>
             </tr>
             <tr>
               <td></td>
               <td class="p8"><input type="submit" value="Sign up" class="st"/></td>
             
             </tr>
           </table>
           
         </div>
       
        <div class="login-shadow regs"></div>
      
      </div>
   
  </div>