     <div class="msg-left">
         <div class="link" >
            <a href="/forum/messages/new"><span>Send Mail</span></a>
            <!--<a href="#"><span class="s2">Prepared to receive</span></a>     -->
            <a href="/forum/black_lists"><span class="s3" >blacklist</span></a>
         </div>
         <div class="inbox">
              <h3><a href="/forum/messages?box=inbox">inbox</a></h3>
           <!--   <h3>inbox</h3>
              <ul>
                  <li><a href="#" class="cur">Draft</a></li>
                  <li><a href="#">Sent</a></li>
                  <li><a href="#">Deleted</a></li>
                  <li><a href="#">Trash</a></li>
              </ul>   -->
         </div>
         <div class="inbox">
              <h3><a href="/forum/messages?box=outbox">outbox</a></h3>
             <!-- <h3>outbox</h3>
              <ul>
                  <li><a href="#">Draft</a></li>
                  <li><a href="#">Sent</a></li>
                  <li><a href="#">Deleted</a></li>
                  <li><a href="#">Trash</a></li>
              </ul>   -->
         </div>


     </div>