<% content_for :content do %>
<div class="charts">
  <div class="charts-bd">
    <div class="charts-bd-top"></div>
    <div class="charts-bd-mid">
      <form>
        <table>
          <thead>
          <td class="lab">from</td>
          <td class="lab">subject</td>
          <td class="lab">date</td>
          </thead>
          <% if @messages %>
              <% for message in @messages %>
              <tr>
                <td class="lab"><%=message.sender.name%></td>
                <td class="lab"><%=message.subject%></td>
                <td class="lab"><%=message.created_at.to_s(:db) %></td>
              </tr>
              <tr>
                <td class="line" colspan="2"></td>
              </tr>
              <% end%>
          <% end%>
        </table>
      </form>
    </div>

    <div class="charts-bd-btm"></div>
  </div>

</div>

<div>
  <% if @messages %>
      <%= paginate @messages %>
  <% end %>
</div>

<% end %>