<div class="msg cf">

    <%= render :partial => 'nav' %>

    <% if flash[:error] %>
        <div class="error">
          flash[:error]
        </div>
    <% end %>
       <div class="msg-right">
          <h3>Reply</h3>
          <form accept-charset="UTF-8" action="/forum/messages" class="simple_form message" method="post">

           <div style="margin:0;padding:0;display:inline">
             <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
           </div>
          <table width="718" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                 <div class="input string required">
                    <label class="string required" for="message_recipient">
                        Recipient
                    </label>
                    <input class="string required" id="message_recipient" name="message[recipient]" required="required" size="50" type="text" value="<%= @message.sender.name%>" />
                 </div>
              </td>
            </tr>
            <tr>
              <td>
                 <div class="input string required">
                    <label class="string required" for="message_subject"> Subject</label>
                    <input class="string required" id="message_subject" name="message[subject]" required="required" size="50" type="text" />
                 </div>
              </td>
            </tr>
            <tr>
              <td>
                 <div class="input string required">
                    <label class="string required" for="message_body">Body</label>
                    <textarea class="string required" id="message_body" name="message[body]" required="required"></textarea>
                 </div>
              </td>
            </tr>
            <tr>
              <td>
                 <div>
                    <label class="string required" for="message_body">group message</label>
                    <input type="checkbox" name="group" />
                 </div>
              </td>
            </tr>
            <tr>
              <td>
                <input id="message_submit" name="commit" type="submit" value="Send" />
              </td>
            </tr>
          </table>
          </form>

     </div>
</div>