<% if forum_user_signed_in? %>
  <li>
    <%= link_to "(i)", '#' %>
  </li>
  <li>
    <%= link_to(:logout, destroy_forum_user_session_path) %>
  </li>
<% else %>
  <li>
  <%= link_to(:login, new_forum_user_session_path)  %>
  </li>
<% end %>
