<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
<title>index</title>
</head>

<body>
  <div class="wrap">

     <div class="header cf">
       <div class="logo"><h1><img src="/images/logo.png"/></h1></div>

       <div class="las">
           <div class="login"><a href="#" class="signin">sign in</a></div>
       </div>

     </div>

     <div class="content cf">
        <div class="left">
          <div class="board">
          </div>
          <div class="mykids">
           <h2>Private Mail</h2>
           <div class="indent">
            <h3><span class="cur">Message</span> <em class="cur"></em></h3>

            <div class="sub-wrap">
            <div class="sub">
             <h4><a href="/forum/messages/new">Send Mail</a></h4>
             <ul>
              <li <% if not params['box'] or params['box'] == "inbox" %>class="cur" <% end %> >
                <a href="/forum/messages?box=inbox">Inbox</a>
              </li>
              <li <% if params['box'] == "outbox" %>class="cur" <% end %> >
                <a href="/forum/messages?box=outbox">Outbox</a>
              </li>
             </ul>
            </div>
            <div class="sub">
             <h4>Contacts</h4>
             <ul>
              <li>blacklist</li>
             </ul>
            </div>
            </div>

           </div>
          </div>
          <div style="border-right:1px solid #dcdcdc;height:500px;"></div>
        </div>

        <div class="right">
            <div class="right-t"></div>
            <%=yield :content %>
        </div>
     </div>


   <div class="footer">
      <div class="ft-list">
        <h4>Parents</h4>
        <ul>

          <li><a href="#">Games</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="ft-list">

         <h4>Developers</h4>
        <ul>
          <li><a href="#">Signup</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Support</a></li>
        </ul>

      </div>

      <div class="ft-list">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Pres</a></li>
          <li><a href="#">Carrers</a></li>
          <li><a href="#">Contact us</a></li>

        </ul>

      </div>
      <div class="ft-right cf">
         <div class="share cf">
           <a href="#"></a>
           <a href="#" class="a2"></a>
           <a href="#" class="a3"></a>
         </div>

         <div class="address">

           <p>phone:888-8888-8889</p>
           <p>Emaik:xxxxx@kittypad.com</p>
           <p>xxxxxxxxxxxxxxxxx.China.World</p>
         </div>

      </div>
   </div>




  </div>

   <script src="/javascripts/jquery.js" type="text/javascript"></script>
   <script src="/javascripts/common.js" type="text/javascript"></script>

</body>
</html>
